* {
}
.product-container {
  display: block;
  width: 100%;
  height: 237px;
  background-color: var(--white002);
  padding: 24px;
  margin-bottom: 8px;
  border-radius: 25px;
}
.product-profile {
  display: flex;
}
.profile-name {
  width: 100%;
  margin-left: 15px;
}
.profile-name h2 {
  margin-bottom: 7px;
}
.heart-click-conatiner {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 5px;
}
.product-list {
  display: block;
}
#product-list-text {
  margin: 8px 0;
}
.product-list-img {
  display: flex;
  gap: 12px;
}
