.menu-popup {
  width: 160px;
  height: 114px;
  top: 30px;
  right: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0px 4px 16px 0px #1122110d;
  z-index: 1000;
}

.menu-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-popup li {
  padding: 18px 49px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.menu-popup li:last-child {
  border-bottom: none;
}

.menu-popup li:hover {
  background-color: #f0f0f0;
}
