.alret-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.toast {
  color: var(--black);
  font-size: 17px;
  font-weight: 400;
  line-height: 20.29px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 343px;
  height: 172px;
  z-index: 9999;
}

.toast p {
  margin: 0;
  font-size: 16px;
}

.toast-confirm-btn {
  font-size: 17px;
  font-weight: 600;
  line-height: 20.29px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 37px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 44px;
  width: 160px;
  height: 50px;
}
