.nav {
  width: 344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px auto;
}

.nav-btn {
  border-radius: 37px;
  color: var(--white002);
  background-color: var(--blue);
  padding: 9px 23px;
  border: 1px solid var(--blue);
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
}

.nav-btn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav {
    width: 696px;
    margin: 40px auto;
  }
}

@media (min-width: 1200px) {
  .nav {
    width: 1198px;
    margin: 40px auto;
  }
}
