.home-container {
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 44px;
}

.input-box {
  display: flex;
  align-items: center;
  height: 49px;
  margin-top: 32px;
}
#input-img {
  position: absolute;
  left: 36px;
}
#search {
  width: 100%;
  padding: 17px 0px 17px 56px;
  border-radius: 49px;
  border: 1px solid #dddcdf;
}
.filter {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 21px;
}
.product-list {
  display: flex;
}

@media (min-width: 768px) {
  .home-container {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
  }
  #input-img {
    left: 44px;
  }
}
@media (min-width: 1200px) {
  .home-container {
    padding-left: 361px;
    padding-right: 360px;
    padding-top: 32px;
  }
  #input-img {
    left: 381px;
  }
}
